.section {
  display: flex;

  position: absolute;
  width: 100vw;
  height: 392px;
  left: 0px;
  top: 684px;

  background: #8e7cb5;
}
.section-left-heading1-line1,
.section-left-heading1-line2 {
  position: absolute;
  width: 599px;
  height: 112px;
  left: 108px;
  top: 93px;

  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 140%;
  /* or 56px */

  color: white;
  z-index: 100;
}
.section-left-heading1-line2 {
  top: 150px;
}
.paragraph-right-para-1,
.paragraph-right-para-2,
.paragraph-right-para-3
 {
  position: absolute;
  width: 492px;
  height: 96px;
  left: 837px;
  top: 93px;

  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;

  color: white;
}
.paragraph-right-para-2 {
  top: 225px;
}
/* .paragraph-right-para-3 {
  position: absolute;
  left: 200px;
  z-index: 1;
} */



